span.helptext {
    color: red;
    font-size: 13px;
    display: none;
}

ul.errorlist li {
    color: red;
    list-style-type: none;
    margin-left: -40px;
    font-weight: 500;
}

p.error_ {
    color: red;
    font-size: 15px;
}